torch
torchmetrics
pytorch-lightning
ray[tune]
omegaconf
wandb
hydra-core
gymnasium
h5py
scikit-learn
matplotlib
python-dotenv
imageio[ffmpeg]
motornet
ipykernel
ipywidgets
opencv-python
jax[cpu]
#torchvision==0.14
#torchdata==0.5.1
#torchaudio==0.13.1
